@import url(https://fontastic.s3.amazonaws.com/gbpsvGzEm6AoKhhjy3LtPN/icons.css);

@font-face {
  font-family: 'delb';
  src: font-url('delb.eot');
  src: font-url('delb.svg') format('svg'),
       font-url('delb.ttf') format('truetype'),
       font-url('delb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
