@import "variables.scss";

.center {
  text-align: center;
  margin: 0 auto;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.orange {
  color: $orange;
}
.white {
  color: $white;
}
.grey-dark {
  color: $grey-dark;
}
.float-right {
  float: right;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.mg-top-20 {
  margin-top: 20px;
}
.mg-top-50 {
  margin-top: 50px;
}
.mg-top-100 {
  margin-top: 100px;
}
.mg-right-10 {
  margin-right: 10px;
}
.mg-right-12 {
  margin-right: 12px;
}
.margin-none {
  margin: 0;
}
.pd-20 {
  padding: 20px;
}
.padding-none {
  padding: 0;
}
.font18 {
  font-size: 18px;
}
.width100 {
  width: 100%;
}
.padding-none {
  padding: 0;
}
.orange-bg {
  background-color: $orange;
  border: none;
  &:hover {
    background-color: $orange-dark;
  }
}
.height-min600 {
  min-height: 600px;
}
.thumbnail-main {
  border: 1px solid $white;
  padding: 0px;
  margin: 5px;
  &:hover {
    border: 1px solid $grey-light;
    box-shadow: 0px 0px 7px $grey-lighter;
    -webkit-box-shadow: 0px 0px 7px $grey-lighter;
    -moz-box-shadow: 0px 0px 7px $grey-lighter;
    cursor: pointer;
  }
}
.img-thumbnail-custom {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
