@import "variables.scss";

.center {
  text-align: center;
  margin: 0 auto;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.orange {
  color: $orange;
}
.white {
  color: $white;
}
.grey-dark {
  color: $grey-dark;
}
.float-right {
  float: right;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.mg-top-20 {
  margin-top: 20px;
}
.mg-top-50 {
  margin-top: 50px;
}
.mg-top-100 {
  margin-top: 100px;
}
.mg-right-10 {
  margin-right: 10px;
}
.mg-right-12 {
  margin-right: 12px;
}
.margin-none {
  margin: 0;
}
.pd-20 {
  padding: 20px;
}
.padding-none {
  padding: 0;
}
.font18 {
  font-size: 18px;
}
.width100 {
  width: 100%;
}
.padding-none {
  padding: 0;
}
.orange-bg {
  background-color: $orange;
  border: none;
  &:hover {
    background-color: $orange-dark;
  }
}
.height-min600 {
  min-height: 600px;
}
.width150 {
  width: 150px;
}
.height150 {
  height: 150px;
}
