@import 'variables.scss';

.homePage {
  .row {
    margin: 0;
  } 
  .sub-item {
    height: 50px;
    background-color: $grey-lighter;
    margin-bottom: 0px;
    text-align: center;
    padding: 5px;
  }
  .sub-item:hover {
    transition-duration: 0.3s;
    background-color: $grey-light;
    color: $orange;
  }
  .sub-item-link {
    color: $grey-md;
    &:hover, &:focus {
      background-color: $orange;
    }
  }
  .no-decor {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  
  //carousel
  .carousel-inner > .item > img {
      height: 100%;
      width:  100%;
  }
  .delb-menu {
    width: 100%;
    bottom: 0;
    position: fixed;
  }
}
