@import 'variables.scss';

.homePage {
  .row {
    margin: 0;
  } 
  .sub-item {
    height: 50px;
    background-color: $grey-lighter;
    margin-bottom: 0px;
    text-align: center;
    padding: 5px;
  }
  .sub-item:hover {
    transition-duration: 0.3s;
    background-color: $grey-light;
    color: $orange;
  }
  .sub-item-link {
    color: $grey-md;
    &:hover, &:focus {
      background-color: $orange;
    }
  }
  .no-decor {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  .category-menu {
    padding: 0;
    margin: 0;
    text-align: center;
    color: $white;
  }
  .category {
    list-style-type: none;
    height: 40px;
    border: 1px solid $grey-light;
    background-color: $grey-lightest;
    color: $grey-lighter;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    &:hover {
      border-bottom: 2px solid $orange;
    }
    &:focus, &:active {
      background-color: $grey-light-bg;
    }
  }
  .active {
    color: $white;
    background-color: $grey-light-bg;
  }
  // thumbnail
  .thumbnail-main {
    border: 1px solid $grey-lightest;
    padding: 0px;
    margin: 5px;
    &:hover {
      border: 1px solid $grey-light;
      box-shadow: 0px 0px 7px $grey-lighter;
      -webkit-box-shadow: 0px 0px 7px $grey-lighter;
      -moz-box-shadow: 0px 0px 7px $grey-lighter;
    }
  }
  .img-thumbnail-custom {
    // padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: 345px;
    height: auto;
  }
  
  //carousel
  .carousel-inner > .item > img {
      height: 100%;
      width:  100%;
  }
  .delb-menu {
    width: 100%;
    bottom: 0;
    position: fixed;
  }
}
