$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
$fa-font-path: "../bower_components/font-awesome/fonts";
@import "variables.scss";
@import "global.scss";


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: $black;
  padding: 0.2em 0;
}

body, header {
  padding: 0;
  margin: 0;
}


/* Custom page header */
.header {
  border-bottom: 1px solid $grey-light;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Navbar Search transition*/
// #label {
//   position: relative;
//   z-index: 20;
// }
// #label .glyphicon-search {
//   cursor: pointer;
// }
// #search-label {
//   margin-top: 16px;
// }
// #input {
//   position: absolute;
//   top: 0;
//   left: 50px;
//   width: 190px;
//   height: 47px;
//   z-index: 5;
//   overflow: hidden;
//   margin-top: 50px;
//   margin-left: 20px;
// }
// #input input {
//   display: block;
//   position: absolute;
//   top: 0;
//   left: -190px;
//   width: 190px;
//   height: 100%;
//   margin:0;
//   padding: 0 10px;
//   border: none;
//   background-color: $grey-md;
//   color: #fff;
//   backface-visibility: none;
//   border-radius: 0;
//   transition: left 0;
// }
// #input input:focus {
//     outline: none;
// }
// #input.focus {
//     z-index: 20;
// }
// #input.focus input {
//     left: 0;
//     transition: left 0.3s;
// }


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: $grey-md;
  border-top: 1px solid $grey-light;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


}
