@import "variables.scss";
@import "fonts.scss";
@import "fonts";
@import "global.scss";
@import "home-page.scss";
@import "main.scss";


body {
  background-color: $main-bg-color;
}
.dropdown-backdrop{
  position: static;
}

.main-image {
  .buffer-top {
    padding-top: 100px;
  }
}

.header {
  margin: 0;
  padding: 0; 
  border-bottom: none;
  a.brand.white {
    text-decoration: none;
  }
  .join-tag {
    transition-duration: 0.3s;
    text-decoration: none;
    background-color: $orange;
    z-index: 999;
    position: absolute;
    right: 0;
    padding: 12px 15px;
    color: $white;
    top: 77px;
    margin-right: 27px;
    &:hover {
      transition-duration: 0.3s;
      background-color: $grey-light;
      color: $orange;
    }
  }
  .navbar-header.center > a:hover {
    color: $white;
  }
  .navbar-nav {
    text-align: center;
  }
  .navbar {
    margin: 0;
    min-height: 50px;
    background-color: $grey-dark;
    border: none;
    border-radius: 0;
    .menu-item {
      height: 48px;
      &:hover {
        color: $white;
      }
      &:focus {
        color: $orange;
        background-color: $grey-dark;
      }
    }
  }
  .navbar-inverse {
    background: none;
    border: none;
  }
  .menu-right-list {
    padding: 15px 15px 15px 20px;
    height: 52px;
    background-color: $grey-dark3;
    border-bottom: 1px solid $grey-dark4;
    &:hover {
      color: $white;
    }
    &:focus {
      background-color: $grey-dark;
      color: $orange;
    }
  }
  .navmenu, .navbar-offcanvas {
    border: none;
    background-color: $grey-dark3;
  } 
  .navmenu-inverse .navmenu-nav > li > a:hover,
  .navbar-inverse .navbar-offcanvas .navmenu-nav > li > a:hover{
    color: $white;
    background-color: $grey-dark2;
  }
  .navmenu-inverse .navmenu-nav > li > a:focus,
  .navbar-inverse .navbar-offcanvas .navmenu-nav > li > a:focus {
    color: $orange;
    background-color: $grey-dark;
  }
  .navbar-nav {
    margin-top: 4px;
    position: center;
    li {
      a {
        color: $grey-light;
        &:hover {
          color: $grey-md;
          background-color: $grey-dark2;
        }
        &:focus {
          color: $orange;
        }
      }
    }
  }
  .brand:hover, .brand:focus {
    .icon-delb {
      color: $orange;
    }
  }

  .navbar-toggle {
    margin-left: 15px;
    margin-top: 10px;
    float: left;
  }
  .logo {
    transition-duration: 0.5s;
    font-size: 38px;
    margin-top: -4px;
    margin-left: -20px;
    position: absolute;
  }
  .hamburger {
    margin-top: 5px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    background-color: $grey-dark;
    border: none;
  }
  .margin-top-xs {
    margin-top: 2px;
  }
}
.main-image {
  color: white;
  margin-top: -20px;
  min-height: 450px;
  background: url("/images/greyback.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .search-area {
    background: rgba(0,0,0,0.5);
    padding: 30px;
    margin-top: 115px;
    max-width: 500px;
    .form-control {
      height: 45px;
    }
  }
}


// Media Queries

// Desktop
@media (min-width: 992px) {

}


// Phablet and above
@media(min-width: 768px) {


}

// Mobile Screen
@media (max-width: 767px) {
  .header{
    .navbar-header {
      button.login {
        height: 42px;
        .bar-close.bar-none {
          position: absolute;
          float: right;
          height: 1px;
          visibility: hidden;
          transition-duration: 0.2s;
          transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
        }
        .bar-close.bar-open {
          background-color: $white;
          margin-top: 10px;
          margin-right: 12px;
          display: block;
          width: 22px;
          height: 1px;
          float: right;
          opacity: 1;
          transition-duration: 0.7s;
          transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
        .bar-close.bar-open1 {
          background-color: $white;
          margin-top: 10px;
          margin-right: -21px;
          display: block;
          width: 22px;
          height: 1px;
          float: right;
          opacity: 1;
          transition-duration: 0.7s;
          transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }
      }
      button.login:hover {
        .bar-close.bar-open, .bar-close.bar-open1 {
          background-color: $orange;
        }
      }
      button.login, button.login:hover, button.login:focus {
        background-color: $grey-dark;
        color: $orange;
        text-decoration: none;
        outline: none;
        border: none;
        .icon:hover, .icon:focus {
          transition-duration: 0.5s;
          color: $orange;
        }
        .icon.user-normal {
          float: right;
          margin-left: -32px;
          -webkit-transition: opacity 0.3s ease-in-out;
          -moz-transition: opacity 0.3s ease-in-out;
          -ms-transition: opacity 0.3s ease-in-out;
          -o-transition: opacity 0.3s ease-in-out;
          opacity: 1;
        }
        .icon.user-close {
          transition-duration: 0.3s;
          transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          visibility: none;
          position: absolute;
          opacity: 0;
          -webkit-transition: opacity 0.1s ease-in-out;
          -moz-transition: opacity 0.1s ease-in-out;
          -ms-transition: opacity 0.1s ease-in-out;
          -o-transition: opacity 0.1s ease-in-out;
        }
      }
    }
    .navbar-nav{
      text-align: left;
      position: left;
      display: block;
      padding: 0;
      margin: 0 -15px;
      li {
        padding: 0;
      }
    }
    .navbar-toggle, .navbar-default {
      border: none;
    }
    .navbar-collapse {
      border-top: 1px solid $grey-dark;
    }
    .navbar {
      .menu-item {
        padding-left: 60px;
        padding-top: 15px;
        background-color: $grey-dark3;
        border-bottom: 1px solid $grey-dark4;
      }
    }
    .logo {
      margin-left: -48px;
      transition-duration: 0.5s;
      font-size: 38px;
      margin-top: 4px;
      position: absolute;
    }
    .login {
      float: right;
      .icon {
        padding: 14px 25px;
        transition-duration: 0.5s;
        color: $white;
      }
    }
    button.navbar-toggle.collapsed {
      border: none;
      .icon-bar {
        background-color: $white;
        height: 1px;
      }
      &:hover, &:focus, &:active{
        background-color: $black;
      }
    }
    button.navbar-toggle:hover {
      border: none;
      background-color: $black;
      .icon-bar {
        transition-duration: 1s;
        background-color: $orange;
        &.horizontal-bar, &.vertical-bar, &.vertical-bar-bottom {
          background-color: $orange;
        }
      }
    }
     button.navbar-toggle:focus {
      border: none;
      background-color: $black;
    }
    button.navbar-toggle {
      .icon-bar.vertical-bar {
          transition-duration: 0.5s;
          transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          position: absolute;
          margin-top: 10px;
          background-color: $white;
        }
      .icon-bar.vertical-bar-top {
          transition-duration: 1s;
          transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          position: absolute;
          margin-top: 10px;
          display: none;
      }
      .icon-bar.vertical-bar-bottom {
          transition-duration: 0.5s;
          transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
          margin-top: 10px;
          margin-bottom: 10px;
          background-color: $white;
      }
      .icon-bar.horizontal-bar {
          transition-duration: 0.5s;
          transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          background-color: $white;
        }
      
    }
    button.navbar-toggle {
      padding-top: 8px;
      .icon-bar {
        margin-top: 3px;
        height: 1px;
        transition-duration: 1s;
      }
    }
    .modal-dialog {
      margin: 10px;
    }
  }
}