<div class="components"> <div class="container-fluid padding-none"> <div class="row"> <div class="col-xs-6"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat eligendi harum, possimus sed eos voluptatum, ratione praesentium, eum aspernatur, nam nisi sit quas debitis aliquam aut accusamus voluptatibus non optio. </div> <div class="col-xs-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis temporibus at obcaecati est, modi, voluptate debitis earum, harum unde et delectus optio, facilis ad dolores error nemo quas dicta omnis. </div> <!-- <div ng-controller="CarouselCtrl" class="col-sm-8 padding-none">
        <div style="min-height: 200px">
          <carousel interval="myInterval" no-wrap="noWrapSlidess">
            <slide ng-repeat="slide in slides" active="slide.active">
              <img ng-src="{{slide.image}}">
              <div class="carousel-caption">
                <h4>Slide {{$index}}</h4>
                <p>{{slide.text}}</p>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
      <div class="col-sm-3 padding-none orange-bg">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi dicta officiis voluptatum nam consequuntur incidunt accusantium sequi aut illum totam voluptas corporis error numquam rem temporibus, laboriosam ducimus ipsa?
      </div> --> <!--     <h1 class="buffer-top"><span class="orange">d</span>esign <span class="orange">e</span>at <span class="orange">l</span>ove <span class="orange">b</span>alance</h1>
        <h5>Market place for amazing products</h5>
        <br>
       
        <div class="input-group col-lg-12 search-area center">
          <input type="text" class="form-control text-area" placeholder="address" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">Submit</span>
        </div> --> </div> </div> </div>