<!-- 
  <h1>this is a  test</h1>
  <div class="search-box">
    <input type="text" ng-model="query">
    <div class="search-box-btn">
      <span>
        <button type="button" ng-click="search()">search</button>
      </span>
    </div>
  </div>
  <ul >
    <li ng-repeat="list in items | filter:searchQuery | orderBy:type">
      {{list.title}}
      {{list.location}}
    </li>  
  </ul> -->
<div class="container-fluid products">
  <div class="row">
    <div class="col-md-2">
      <!-- Search: <input ng-model="global.search"> -->
      Sort by:
      <select ng-model="orderProp">
        <option value="title">Alphabetical</option>
        <option value="age">Newest</option>
      </select>  
    </div>
    <br>
    <div class="col-md-10">
      <ul class="phone">
        <li ng-repeat="item in items | filter:searchQuery | orderBy:orderProp | orderBy: '$index':true" class="thumbnail phone-listing thumbnail-item">
          <a href="#/items/{{item.id}}" class="thumb">
            <img ng-src="https://s3-ap-southeast-2.amazonaws.com/delbfiles/items/{{item.image_file_name}}" style="max-height: 110px;">
          </a>
          <a href="#/items/{{item.id}}">{{item.title}}</a>
          <p>{{item.description}}</p>
          <p>{{item.location}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>


