<div class="homePage">
  <div class="container-fluid padding-none">
    <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-12 padding-none">
        <div ng-controller="CarouselCtrl" class="padding-none">
          <div style="min-height: 100px; ">
            <carousel interval="myInterval" no-wrap="noWrapSlidess">
              <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}">
                <div class="carousel-caption">
                  <button class="btn btn-default">Visit{{$index}}</button>
                  <h4>(edit product description) {{$index}}</h4>
                  <p>{{slide.text}}</p>
                </div>
              </slide>
            </carousel>
          </div>
        </div>
      </div>

      <!-- <div class="padding-none delb-menu">
        <ul ng-repeat="item in subItems" class="no-decor">
          <a href="" class="sub-item-link">
            <li class="sub-item col-xs-3 col-sm-1 col-md-1 col-lg-1">
              <h4>{{item.title}}</h4>
            </li>
          </a>
        </ul>
        <ul class="col-sm-8" style="background-color: #999;">
          <li class="col-xs-3">test</li>
          <li class="col-xs-3">test2</li>
          <li class="col-xs-3">test</li>
          <li class="col-xs-3">test2</li>
        </ul>
      </div> -->

<!-- Customize carousel template -->
<script id="template/carousel/carousel.html" type="text/ng-template">
  <div class="carousel" ng-swipe-right="prev()" ng-swipe-left="next()">
      <ol class="carousel-indicators" ng-show="slides.length > 1">
          <li ng-repeat="slide in slides | orderBy:'index' track by $index" ng-class="{active: isActive(slide)}" ng-click="select(slide)"></li>
      </ol>
      <div class="carousel-inner" ng-transclude></div>
      <a class="left carousel-control" ng-click="prev()" ng-show="slides.length > 1 && !isActive(slides[0])"></a>
      <a class="right carousel-control" ng-click="next()" ng-show="slides.length > 1  && !isActive(slides[slides.length - 1])"></a>
  </div>      
</script>
   <!-- <div class="carousel" ng-mouseenter="pause()" ng-mouseleave="play()" 
     ng-swipe-right="prev()" ng-swipe-left="next()">   -->

    <!--     <h1 class="buffer-top"><span class="orange">d</span>esign <span class="orange">e</span>at <span class="orange">l</span>ove <span class="orange">b</span>alance</h1>
        <h5>Market place for amazing products</h5>
        <br>
       
        <div class="input-group col-lg-12 search-area center">
          <input type="text" class="form-control text-area" placeholder="address" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">Submit</span>
        </div> -->

    </div>
  </div>
</div>