<div class="full-screen">
  <video autoplay loop muted class="fullscreen-video">
    <source src=" 
https://s3-ap-southeast-2.amazonaws.com/delbfiles/assets/foodpreparation.mp4" type="video/mp4">
  </video>
</div>

<div class="homePage height-min600">
  <div class="container-fluid padding-none">
    <div class="row">


      <div class="page-tab center row " ng-repeat="category in categories"> 
        <div ng-if="currentTabIndex === $index" class="container scroll">
          
          <a href=""><h5 class="header-featured left">Featured</h5></a>
          
          <div class="horizontal-list">
            <div ng-repeat="list in lists | orderBy:random">
              <div class="horizontal-item margin-none padding-none thumbnail-cover">
                <div href="#" class="thumbnail-main">
                  <a href="#/items/{{list.id}}">
                    <div class="thumbnail-image" style="background: url({{list.image}}) no-repeat center center; background-size: cover;"></div>
                  </a>
                  <h5 class="">{{list.title | limitTo: 20}}{{list.title.length > 20 ? '...' : ''}}</h5>
                  <p>${{list.price}}</p>
                  <p>{{list.description | limitTo: 20}}{{list.description.length > 20 ? '...' : ''}}</p>
                </div> 
              </div>
            </div>
          </div>

        </div>
      </div><!-- end of featured -->
      
      <div class="container featured-container">

        <div class="col-sm-6 featured-box">
          <div style="background: url(https://s3-ap-southeast-2.amazonaws.com/delbfiles/assets/delb-img1.png) no-repeat center center; background-size: cover;" class="featured-img"></div>
        </div>
        <div class="col-sm-6 featured-box">
          <div style="background: url(https://s3-ap-southeast-2.amazonaws.com/delbfiles/assets/delb-img2.png) no-repeat center center; background-size: cover;" class="featured-img"></div>
        </div>
      </div>

      <div class="page-tab center row " ng-repeat="category in categories"> 
        <div ng-if="currentTabIndex === $index" class="container scroll">
          <div class="visibility-hidden">test</div>
          <a href=""><h5 class="header-featured left">Top Sellers</h5></a>
          
          <div class="horizontal-list">
            <div ng-repeat="list in lists | filter:filters | filter:query">
              <div class="horizontal-item margin-none padding-none thumbnail-cover">
                <div href="#" class="thumbnail-main">
                  <a href="#/items/{{list.id}}">
                    <div src="" class="thumbnail-image" style="background: url({{list.image}}) no-repeat center center; background-size: cover;"></div>
                  </a>
                  <h5 class="">{{list.title | limitTo: 20}}{{list.title.length > 20 ? '...' : ''}}</h5>
                  <p>${{list.price}}</p>
                  <p>{{list.description | limitTo: 20}}{{list.description.length > 20 ? '...' : ''}}</p>
                </div> 
              </div>
            </div>
          </div>

        </div>
      </div><!-- end of top sellers -->

    </div>
  </div>
</div>


