<div class="container height-min600">
    <div class="row">
        <div class="center">
            <h3>{{name}}</h3>
            <div class="title">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolorem ea illo consequuntur, nemo accusamus eaque optio corrupti a, adipisci sunt, perspiciatis delectus vitae iusto magnam quaerat nostrum possimus! Obcaecati?
            </div> 
        </div>

        <ul ng-repeat="item in items | orderBy: 'created_at': true">
            <li class="col-md-4 list-style-none">
              <div class="thumbnail center"> 
                <a href="#/items/{{item.id}}"><img ng-src="data:image/PNG;base64,{{item.image_url50}}" class="width150 height150"></a>
                <div class="caption">
                  <h4>{{item.title}}</h4>
                  <p>${{item.price}}</p>
                  <p>{{item.description}}</p>
                  <button type="checkbox" ng-click="deleteItem(item.id)" class="btn btn-default" ng-if="user">Delete</button>
                </div>  
              </div>   
            </li>
        </ul>
    </div>
</div>