<div class="container center height-min600 pricing">
    <h2>No Initial Cost</h2>  
    <br>
    <p class="small-text">No initial cost to start selling your product. There's only small fee when you sell and transaction fee when payment is processed to you.</p>
    <br>
    <ul>
      <li class="col-xs-11 col-sm-5 pricing-detail">No Monthly Fees</li>
      <div class="col-sm-1"></div>
      <li class="col-xs-11 col-sm-5 pricing-detail">No Listing Fees</li>
      <div class="col-sm-1"></div>
      <li class="col-xs-11 col-sm-5 pricing-detail">No Joining Fees</li>
      <div class="col-sm-1"></div>
      <li class="col-xs-11 col-sm-5 pricing-detail">3.5% transaction fee</li>
      <div class="col-sm-1"></div>
      <!-- <li class="col-xs-11 col-sm-11 pricing-detail">3~4% + $0.30 payment processing</li> -->
    </ul>
</div>