<div class="container">
  <div class="center mg-top-15">   
    <div class="center loading" ng-if="loading">
     <img ng-src="{{loaderSource}}"> 
    </div>
  </div>
  
  <div ng-hide="loading">
    <div class="product-images col-xs-12 col-sm-6 thumbnail">
      <div style="background-image:url('https://s3-ap-southeast-2.amazonaws.com/delbfiles/items/{{item.image_file_name}}');" class="background-cover product-main-img"></div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h1>{{item.title}}</h1>  
      <h5>${{item.price}}</h5>
      <p>{{item.description}}</p> 
      <p>{{item.location}}</p> 
      <p>{{item.category_id}}</p>
      <p>{{item.saletype}}</p>
      <p>{{item.color}}</p>
      <p>{{item.quantity}}</p>
      <p>{{item.brand}}</p>
      <p>{{item.size}}</p>
    </div>

<!--     <ul class="phone-thumbs">
      <li ng-repeat="img in item.images">
        <img ng-src="{{img}}" ng-click="setImage(img)">
      </li>
    </ul> -->
  </div>  
</div>  