<div ng-controller="MainCtrl">
  
  <!-- offcanvas right inner menu items -->
  <nav id="offcanvasRight" class="navmenu navmenu-fixed-right offcanvas" role="navigation">
    <ul class="nav navmenu-nav">
      <li><a ng-href="#/mystore" class="menu-right-list" data-toggle="offcanvas" data-target="#offcanvasRight" data-canvas="body" data-autohide="true" aria-hidden="true"><span class="glyphicon glyphicon-home mg-right-12"></span> My STORE</a></li>
      <li><a ng-href="#/message" class="menu-right-list" data-toggle="offcanvas" data-target="#offcanvasRight" data-canvas="body" data-autohide="true" aria-hidden="true"><span class="glyphicon glyphicon-envelope mg-right-12"></span> Message</a></li>
      <li><a ng-href="#/favorites" class="menu-right-list" data-toggle="offcanvas" data-target="#offcanvasRight" data-canvas="body" data-autohide="true" aria-hidden="true"><span class="glyphicon glyphicon-heart mg-right-12"></span> Favorite</a></li>
      <li><a ng-href="#/history" class="menu-right-list" data-toggle="offcanvas" data-target="#offcanvasRight" data-canvas="body" data-autohide="true" aria-hidden="true"><span class="glyphicon glyphicon-list-alt mg-right-12"></span> History</a></li>
      <li><a ng-href="#/account" class="menu-right-list" data-toggle="offcanvas" data-target="#offcanvasRight" data-canvas="body" data-autohide="true" aria-hidden="true"><span class="glyphicon glyphicon-cog mg-right-12"></span> Account</a></li>
      <li ng-if="user.id"><a ng-href="#" ng-click='signOut()' class="menu-right-list" data-toggle="offcanvas" data-target="#offcanvasRight" data-canvas="body" data-autohide="true" aria-hidden="true"><span class="glyphicon glyphicon-minus mg-right-12"></span> Logout</a></li>
    </ul>
  </nav>

  <!-- offcanvas left inner menu items  -->
  <nav id="offcanvasLeft" class="navmenu navmenu-fixed-left offcanvas" role="navigation">
    <ul class="nav navmenu-nav">
      <li><a href="#/items" data-toggle="offcanvas" data-target="#offcanvasLeft" data-canvas="body" data-autohide="true" aria-hidden="true" class="menu-right-list"><span>Products</span></a></li>
      <li><a href="#/about" class="menu-right-list" data-toggle="offcanvas" data-target="#offcanvasLeft" data-canvas="body" data-autohide="true" aria-hidden="true"><span>About</span></a></li>
    </ul>
  </nav>

  <nav id="navbar-example" class="navbar navbar-default navbar-static" role="navigation">

      <div class="navbar-header center">

        <!-- offcanvasLeft menu trigger -->
        <button href class="navbar-toggle visible-xs" data-toggle="offcanvas" data-target="#offcanvasLeft" data-canvas="body" data-autohide="true" aria-hidden="true">
          <span class="icon-bar" ng-class="rotateBar ? 'horizontal-bar' : 'vertical-bar-top'"></span>
          <span class="icon-bar" ng-class="rotateBar ? 'horizontal-bar' : 'vertical-bar'"></span>
          <span class="icon-bar" ng-class="rotateBar ? 'horizontal-bar' : 'vertical-bar-bottom'"></span> 
        </button>

        <a class="brand white col-md-2 col-lg-2 visible-xs" href="#/"><i class="icon-delb logo white"></i></a>

        <!-- offcanvasRight menu trigger -->
        <button href class="login visible-xs" data-toggle="offcanvas" data-target="#offcanvasRight" data-canvas="body" data-autohide="true" aria-hidden="true" ng-show="user.signedIn">
          <span class="glyphicon glyphicon-user icon font18" aria-hidden="true" ng-class="rotateUser ? 'user-normal':'user-close'">
          </span>
          <span class="bar-close" ng-class="rotateUserBar ? 'bar-none' : 'bar-open'"></span>
          <span class="bar-close" ng-class="rotateUserBar ? 'bar-none' : 'bar-open1'"></span>       
        </button>
       
        <!-- mobile login button -->
        <button class="login visible-xs" ng-click="showLogin()" ng-if="!loggedIn && !user.id">
          <span class="glyphicon glyphicon-off icon font18" aria-hidden="true">
          </span>
        </button>
      </div>

      <!-- Left and Top Menu -->
      <div collapse="isCollapsed" class="navbar-collapse bs-js-navbar-collapse clearfix" id="navigation-bar">
        <nav>     
          <ul class="nav navbar-nav col-sm-12">
            <li class="col-xs-12 col-sm-2 padding-none brand">
              <a ng-href="#/" class="menu-item hidden-xs width100"><i class="icon-delb logo"></i> <span class="main-logo"> delb</span></a>
            </li>
          <!--   <li class="col-sm-1"></li> -->
            <li class="col-xs-10 col-sm-6 col-lg-6 center search-li">
      <!--         <div class="row">
                <span class="input-group search-container">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <span ng-repeat="item in categories">        
                        <a href="{{item.link}}" class="category"><li class="width100 category-li">{{item.title}}</li></a>
                      </span>
                    </ul>
                  </div>
                  <input type="text" class="form-control" placeholder="Search for..." ng-model="global.search">
                  <span class="input-group-btn category-search-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
                </span>
              </div> -->
            </li>
            <li class="col-xs-12 col-sm-1 col-lg-1 padding-none"><a ng-href="#/about" class="menu-item width100">About</a></li>
            <li class="col-xs-12 col-sm-1 col-lg-1 padding-none"><a ng-href="#/items" class="menu-item width100">Products</a></li>

  <!-- User desktop menu -->  
            <li class="col-xs-12 col-sm-2 col-lg-2 hidden-xs padding-none" ng-if="user.id">
              <a href class="menu-item width100" data-toggle="offcanvas" data-target="#offcanvasRight" data-canvas="body" data-autohide="true" aria-hidden="true"><span class="glyphicon glyphicon-user font18" aria-hidden="true"></span>
              </a>
            </li>
            <li class="col-xs-12 col-sm-2 col-lg-2 hidden-xs padding-none" ng-if="!user.id"><a ng-click="showLogin()" class="menu-item width100"><span class="glyphicon glyphicon-off icon font18" aria-hidden="true"></span></a></li> 
            <li class="col-xs-12 col-sm-2 col-lg-2 visible-xs padding-none" ng-if="user.id"><a href="#/" ng-click='signOut()' class="menu-item width100" data-toggle="offcanvas" data-target="#offcanvasRight" data-canvas="body" data-autohide="true" aria-hidden="true">Log out</a></li>
          </ul>
        </nav>  
      </div>
      <!-- /.nav-collapse -->

    <a href ng-if="!user.id" ng-click="showSignUp()" class="join-tag center col-xs-2">Join <span class="hidden-xs font18">FREE</span> </a>
  </nav>

  <a class="upload-menu" ng-href="#/item/new" ng-if="user.id">
    <span class="glyphicon glyphicon">SELL</span>
  </a>

  <!-- MODAL FOR LOGIN & SIGNUP -->
  <!-- Login Modal -->
  <script type="text/ng-template" id="login.html">
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title center">Log In</h4>
          </div>
          <form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}" class="form-horizontal">
            
            <div class="modal-body grey-dark">
              <div class="form-group">
                <label for="email" class="col-xs-3 control-label right">Email</label>
                <div class="col-xs-9">
                  <input type="email"
                         name="email"
                         id="email"
                         ng-model="loginForm.email"
                         required="required"
                         class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label for="password" class="col-xs-3 control-label right">Password</label>
                <div class="col-xs-9">
                  <input type="password"
                       name="password"
                       id="password"
                       ng-model="loginForm.password"
                       required="required"
                       class="form-control">
                </div>
              </div>  
              <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer center">
              <button type="submit" class="btn btn-primary btn-lg center orange-bg" ng-click="submitLogin(loginForm)" data-dismiss="modal">Log In</button>
              <button type="button" ng-click="close()" class="btn btn-lg btn-default" data-dismiss="modal">Close</button> 
            </div>
          </form>
        </div>
      </div>
    </div>
  </script>

  <!-- Sign Up Modal -->
  <script type="text/ng-template" id="signup.html">
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title center">Sign Up</h4>
          </div>
          <form ng-submit="handleRegBtnClick()" role="form" ng-init="registrationForm = {}" class="form-horizontal">
            <div class="modal-body grey-dark">
                <div class="form-group">
                  <label for="email" class="col-xs-3 control-label right">Email</label>
                  <div class="col-xs-9">
                    <input type="email"
                           name="email"
                           id="email"
                           ng-model="registrationForm.email"
                           required="required"
                           class="form-control">
                  </div>         
                </div>

                <div class="form-group">
                  <label for="password" class="col-xs-3 control-label right">Password</label>
                  <div class="col-xs-9">
                    <input type="password"
                           name="password"
                           id="password"
                           ng-model="registrationForm.password"
                           required="required"
                           class="form-control">
                  </div>         
                </div>

                <div class="form-group">
                  <label for="password_confirmation" class="col-xs-3 control-label right">Password confirmation</label>
                  <div class="col-xs-9">
                    <input type="password"
                           name="password_confirmation"
                           id="password_confirmation"
                           ng-model="registrationForm.password_confirmation"
                           required="required"
                           class="form-control">
                  </div>         
                </div>

            </div> <!-- modal body -->

            <div class="modal-footer center">
              <button type="submit" class="btn btn-primary btn-lg center orange-bg" ng-click="handleRegBtnClick(registrationForm)" data-dismiss="modal">Sign Up</button>
              <button type="button" ng-click="close()" class="btn btn-lg btn-default" data-dismiss="modal">Close</button>
            </div> 
          </form>
        </div>
      </div>
    </div>
  </script>

</div>  