<div class="container">
  <form ng-submit="save()" name="itemForm">
    <h3 class="center">Add a new product</h3>
    <div class="form-group col-sm-3">
      <div
          ngf-drop 
          ngf-select 
          ng-model="files" 
          class="drop-box" 
          ngf-drag-over-class="dragover" 
          ngf-multiple="true" 
          ngf-allow-dir="true"
          accept="image/*,application/pdf" 
          ngf-pattern="'image/*,application/pdf'">
          Drop images here or click to upload
        </div>
        <div class="preview">
          <p>preview</p>
          <img ngf-src="!files[0].$error && files[0]" alt="">
        </div>
    </div>
    <div class="form-group col-sm-3">
      <div
          ngf-drop 
          ngf-select 
          ng-model="files" 
          class="drop-box" 
          ngf-drag-over-class="dragover" 
          ngf-multiple="true" 
          ngf-allow-dir="true"
          accept="image/*,application/pdf" 
          ngf-pattern="'image/*,application/pdf'">
          Drop images here or click to upload
        </div>
        <div class="preview">
          <p>preview</p>
          <img ngf-src="!files[0].$error && files[1]" alt="">
        </div>
    </div>    
    <div class="form-group">        
      <input type="text" ng-model="item.title" placeholder="title" class="form-control"/>
    </div>
    <div class="form-group">  
      <input type="text" ng-model="item.price" placeholder="price" class="form-control"/>
    </div>  
    <div class="form-group">
      <input type="text" ng-model="item.description" placeholder="description" class="form-control"/>
    </div>
      <button class="btn btn-default" ng-click="saveItem()">Save</button>
    </div>
  </form>

</div>  